body{
    background-color: blue;
}

/*******SIZE********************/
.min-height-500{
    min-height: 500px;
}
.min-height-400{
    min-height: 400px;
}
.min-width-400{
    min-width: 400px;
}
.min-width-500{
    min-width: 500px;
}
.max-width-500{
    max-width: 500px;
}

/********************************/

.window-border{
    border-radius: 0.2rem;
    box-shadow: 1px 2px 4px #888888;
}

.text-white{
    color: white;
}

.img-button{
    width: 24px;
}

.font-size-24{
    font-size: 24px;
}

.border-pager-top{
    border-top: 1px solid #ccc;
}

.pagination a{
    cursor: pointer;
}

.outline-none{
    outline: none;
}
/******SUGGESTION********************/

.suggestions_parent{
    position: relative;
    width: 100%;
}

.suggestions{
    position: absolute;
    top: 38px;
    left: 0px;
    background: white;
    border:1px solid #ccc;
    width: 100%;
    max-height: 250px;
    overflow: auto;
}

.suggestions ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.suggestions li{
    padding: 5px 20px 5px 5px;
    cursor: pointer;
    font-weight: normal;
}

.suggestions li:hover{
    background-color: #ccc;
}

/***********LANG******************************/
.custom-file-control:lang(en)::after {
  content: "Select file...";
}

.custom-file-control:lang(en)::before {
  content: "Click me";
}

.custom-file-control:lang(es)::after {
  content: "Elige una imagen...";
}

.custom-file-control:lang(es)::before {
  content: "Haz click";
}
