body{
    background-color: blue;
}

.min-height-500{
    min-height: 500px;
}
.min-height-400{
    min-height: 400px;
}
.min-width-400{
    min-width: 400px;
}
.min-width-500{
    min-width: 500px;
}

.window-login{
    border-radius: 0.2rem;
    box-shadow: 1px 2px 4px #888888;
}

.text-white{
    color: white;
}
